// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$max-width: em(1200);

$s: em(321);
$m: em(769);
$l: em(1025);

// Style Breakpoint ////////////////////////////////////////////////////////////
$s-up: new-breakpoint(min-width $s 12);
$m-up: new-breakpoint(min-width $m 12);
$l-up: new-breakpoint(min-width $l 12);

// Grid Breakpoints ////////////////////////////////////////////////////////////
$s-max: new-breakpoint(max-width $s 12);
$m-max: new-breakpoint(min-width $s max-width $m 12);
$l-max: new-breakpoint(min-width $m max-width $l 12);
$max: new-breakpoint(min-width $l 12);

// Examples ////////////////////////////////////////////////////////////////////
%grid-example {
    @include media($s-max) {
        @include span-columns(6);
        @include omega(2n);
    }
    @include media($m-max) {
        @include span-columns(3);
        @include omega(4n);
    }
    @include media($l-max) {
        @include span-columns(2);
        @include omega(6n);
    }
    @include media($max) {
        @include span-columns(1);
        @include omega(12n);
    }
}
