//$visual-grid: true;
//$visual-grid-color: ;

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$s: em(321);
$m: em(769);
$l: em(1025);

$max-width: em(1200);

// Infinite Breakpoint ////////////////////////////////////////////////////////
$s-up: new-breakpoint(min-width $s);
$m-up: new-breakpoint(min-width $m);
$l-up: new-breakpoint(min-width $l);

// Specific Breakpoints ////////////////////////////////////////////////////////
$z-s: new-breakpoint(max-width $s);
$z-max: new-breakpoint(max-width $max-width);
$s-m: new-breakpoint(min-width $s max-width $m);
$m-l: new-breakpoint(min-width $m max-width $l);
$max: new-breakpoint(min-width $l);
