// Brand colours
$brand-twitter: #55ACEE;
$brand-facebook: #3B5998;

// Spacing
$space: $base-spacing;
$space-double: $space *2;
$space-triple: $space *3;
$space-quad: $space *4;

$space-half: $space /2;
$space-third: $space /3;
$space-quarter: $space /4;