@import "bourbon"; // codekit
@import "neat/neat-helpers"; // CodeKit
@import "framework/variables";
@import "neat";  // CodeKit

@import "framework/normalize";

// Framework ///////////////////////////////////////////////////////////////////
@import "framework/base";
@import "framework/typography";
@import "framework/forms";
@import "framework/buttons";
@import "framework/tables";
@import "framework/lists";
@import "framework/grid-settings";

// Project /////////////////////////////////////////////////////////////////////
@import "project/layout";
@import "project/modules";

@include media($s-max) {
    padding: 10px;
}
@include media($m-max) {
    margin: 20px;
}
@include media($l-max) {
    border: 10px solid red;
}
